.unselectable {
    user-select: none;
}

.card {
    border: 1px solid #ccc;
    /* 设置默认边框 */
    transition: border-color 0.5s;
    /* 设置过渡效果 */
}

.card:hover {
    border-color: blue;
    /* 鼠标悬停时，将边框颜色设置为蓝色 */
}

.colorful {
    background-image: linear-gradient(90deg, #ff0000 0, #2575fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mzsm {
    position: relative;
    margin: 25px 0 15px;
    padding: 45px 45px 30px;
    border-color: #c0c6cc;
    background-color: #f8f8fa;
    font-family: Lantinghei SC, Open Sans, Arial, Hiragino Sans GB, Microsoft YaHei, \\5fae\8F6F\96c5\9ED1, STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif
}

.mzsm:before {
    top: 20px;
    left: 20px;
    background: url(blockquote.png) no-repeat 0 0
}

.mzsm:after,
.mzsm:before {
    position: absolute;
    display: block;
    width: 1pc;
    height: 14px;
    content: ''
}

.mzsm:after {
    right: 20px;
    bottom: 20px;
    background: url(blockquote.png) no-repeat -1pc 0
}
